body {
  background-color: rgba(47, 46, 47, 0.603);
  padding-top: 10px;
}

.container {
  background-color: white;
}

.col {
  height: 200px;
  text-align: center;
  padding-top: 20px;
}

strong {
  font-weight: 300;
}

pFeed {
  font-weight: 500;
  color: rgb(119, 75, 108);
}

img {
  width: 280px;
  height: 280px;
  outline: none;
}

img:hover {
  width: 350px;
  height: 350px;
}